<div class="content">
	<% status = item.status %>
	<% type = item.type %>
	<span id="item_status_tag" class="tag <%= get_status_tag(status) %>">
	<%= status %>
	</span>
	<span id="item_type_tag" class="tag <%= get_type_tag(type) %>">
	<%= type %>
	</span>
	<div id="item_title"><strong>
		<%= link_to item.title, articles_path(item.id) %>
	</strong></div>
	<div id="item_creator" class="small">
		<strong>Creator: </strong>
		<%=item.creator %>
	</div>
	<div id="item_abstract" class="small">
		<strong>Abstract: </strong>
		<%= item.abstract %>
	</div>
	<%= render partial: 'article_aside', locals: {item: item}  %>
	
</div>